@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "poppins";
}
nav {
  display: flex;
  padding: 20px 0px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background: linear-gradient(180deg, #d9d9d954, #b0b0b02e, #cfcfcf57);
  width: 100%;
  z-index: 10;
}
nav .logo {
  font-size: 28px;
  font-weight: 700;
  margin-left: 200px;
}
nav .logo span {
  color: #e33071;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
  margin: 0px 20px;
}
nav ul li a {
  text-decoration: none;
  font-weight: 500;
  color: #4f4f4f;
}
nav ul li a:hover {
  color: #e33071;
  cursor: pointer;
}
nav .menu {
  margin-right: 200px;
}
header {
  text-align: center;
  padding-top: 200px;
  height: 90vh;
}
header img {
  margin-bottom: 25px;
}
header p {
  font-size: 28px;
  color: #4b4b4b;
}
header h3 {
  font-size: 48px;
  color: #2e2e2e;
  font-weight: 500;
  padding: 25px;
}
header span {
  font-size: 16px;
  color: #4b4b4b;
}
header .btns {
  display: flex;
  margin: 50px auto;
  justify-content: center;
}
header .btns .btn button {
  padding: 15px 60px 15px 30px;
  border-radius: 50px;
  border: none;
  background: linear-gradient(90deg, #b43cd2, #df832e);
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
header .btns .btn img {
  position: absolute;
  margin-left: 144px;
  margin-top: 16px;
}
#download_resume {
  background: transparent;
  border: 2px solid #4f4f4f;
  color: #4b4b4b;
  margin-left: 10px;
}
.circle {
  position: absolute;
  right: 0;
}

section {
  height: 1000px;
}
